<div class="row">
    <div class="card col-lg-3 mt-2" style="width: 18rem;" *ngFor="let product of products">
        <img style="width: 100%;" src="{{ product.imageUrl }}" class="card-img-top">
        <div class="card-body">
            <b>
                <p class="card-text" style="text-align: center;">{{product.name}}</p>
                <p class="card-text" style="text-align: center; color: red;">{{product.price}}</p>
                <input type="number" class="form-control" value="1">
                <button class="btn btn-primary mt-2 mr-2" (click)="addToBasket(product)">Sepete Ekle</button>
            </b>
        </div>
    </div>

</div>